<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" href="../../Admin-home.css">
</head>
<body>
    <div class="container">
        <div class="bg-image">
            <img src="/images/BRGY LOGO.png" alt="Brgy Logo">
        </div>
        <div class="sidebar">
          <div class="upper-sidebar-container">
            <div class="hi-kap">
                <h1>Hi Kap!</h1>
            </div>
            <div class="brgy-number">
                <h1>684</h1>
            </div>
          </div>
          <div class="sidebar-buttons-container">
            <div class="sidebar-upper-buttons">
                <div class="sidebar-buttons" id="selected-page" onclick="window.location.href='/admin/home'"><p>Home</p></div>
                <div class="sidebar-buttons" onclick="window.location.href='/admin/masterlist'"><p>Master List</p></div>
                <div class="sidebar-buttons" onclick="window.location.href='http://www.manilahealthdepartment.com/'"><p>MHD Appointment</p></div>
            </div>
            <div class="sidebar-lower-buttons">
                <div class="sidebar-buttons" onclick="window.location.href='/logout'"><p>Logout</p></div>
            </div>
          </div>
        </div>
        <div class="home-body">
            <div class="brgy-text">
                <h3>Barangay Officals</h3>
            </div>
            <div class="image-main-container">
                <div class="first-row">
                    <div class="image-container">
                        <img src="/images/Kapitana.png" alt="Captain">
                    </div>
                    <div class="official-name">LYDIA "TANG" ADRIANO</div>
                    <div class="official-position">BRGY CHAIRWOMAN</div>
                </div>
                <div class="second-row">
                    <div class="image-desc">
                        <div class= "image-container">
                            <img src="/images/kagawad1.jpeg" alt="kags1">
                        </div>
                        <div class="official-name">ANTHONY C. QUILALA</div>
                        <div class="official-position">KAGAWAD</div>
                    </div>
                    <div class="image-desc">
                        <div class= "image-container">
                            <img src="/images/kagawad2.jpeg" alt="kags2">
                        </div>
                        <div class="official-name">SHERYLL T. PELINO</div>
                        <div class="official-position">KAGAWAD</div>
                    </div>
                    <div class="image-desc">
                        <div class= "image-container">
                            <img src="/images/kagawad3.jpeg" alt="kags3">
                        </div>
                        <div class="official-name">RODOLDO A. NATIVIDAD JR</div>
                        <div class="official-position">KAGAWAD</div>
                    </div>
                    <div class="image-desc">
                        <div class= "image-container">
                            <img src="/images/kagawad4.jpeg" alt="kags4">
                        </div>
                        <div class="official-name">WILMA K.CARIASO</div>
                        <div class="official-position">KAGAWAD</div>
                    </div>
                </div>
                <div class="third-row">
                    <div class="image-desc">
                        <div class= "image-container">
                            <img src="/images/kagawad5.jpeg" alt="kags5">
                        </div>
                        <div class="official-name">RENATO P.ABLAZA</div>
                        <div class="official-position">KAGAWAD</div>
                    </div>
                    <div class="image-desc">
                        <div class= "image-container">
                            <img src="/images/kagawad6.jpeg" alt="kags6">
                        </div>
                        <div class="official-name">RENATO P. REYES</div>
                        <div class="official-position">KAGAWAD</div>
                    </div>
                    <div class="image-desc">
                        <div class= "image-container">
                            <img src="/images/kagawad7.jpeg" alt="kags7">
                        </div>
                        <div class="official-name">JERRY D. DACKEL</div>
                        <div class="official-position">KAGAWAD</div>
                    </div>
                    <div class="image-desc">
                        <div class= "image-container">
                            <img src="/images/SKChairman.jpeg" alt="skchairman">
                        </div>
                        <div class="official-name">EDUARDO V. PASCUAL JR.</div>
                        <div class="official-position">SK CHAIRMAN</div>
                    </div>
                </div>
                <div class="fourth-row">
                    <div class="image-desc">
                        <div class= "image-container">
                            <img src="/images/Sec.jpeg" alt="sec">
                        </div>
                        <div class="official-name">JUVY Q LOZADA</div>
                        <div class="official-position">BRGY.SECRETARY</div>
                    </div>
                    <div class="image-desc">
                        <div class= "image-container">
                            <img src="/images/Treasurer.jpeg" alt="treasury">
                        </div>
                        <div class="official-name">DIONELYN H. VILLARICO</div>
                        <div class="official-position">BRGY.SECRETARY</div>
                    </div>
                    <div class="image-desc">
                        <div class= "image-container">
                            <img src="/images/EXO.jpeg" alt="exo">
                        </div>
                        <div class="official-name">ROMMEL C. QUILALA</div>
                        <div class="official-position">EX-O</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
