<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masterlist page</title>
    <link rel="stylesheet" href="Admin-Masterlist.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
          <div class="Hi-Kap-con">
            <h1>Hi Kap!</h1>
            <h2>684</h2>
          </div>  
          <ul class="sidebar-buttons">
            <li ><a href="admin home.html" >Home</a></li>
            <li><a href="#"class="admin-sidebar">Masterlists</a></li>
            <li><a href="http://www.manilahealthdepartment.com/">MHD Appointment</a></li>
          </ul>
          <ul class="sidebar-buttons logout-button">
            <li><a href="admin index.html">Logout</a></li>
          </ul>
        </div>
    <div class="content">
        <div class="pcontainer1">
            <div class="plist">
                <div class="section-centeredflex">
                    <table class="prospecttable">
                        <tr>                    
                            <th class="prospectth"><button>Full Name</button></th>
                            <th class="prospectth"><button>Address</button></th>
                            <th class="prospectth"><button>Age</button></th>
                            <th class="prospectth"><button>BirthDate</button></th>
                            <th class="prospectth"><button>Gender</button></th>
                            <th class="prospectth"><button>Contact No.</button></th>
                            <th class="prospectth"><button>Status</button></th>
                            <th class="prospectth"><button>Remarks</button></th>
                            <th class="prospectth"><button>Condition</button></th>
                            <th class="prospectth">Voter</th>
                            <th class="prospectth">PWD</th>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>Makati City PH</td>
                            <td>30 years old</td>
                            <td>01-01-2001</td>
                            <td>ungoy</td>
                            <td>09 12345678</td>
                            <td>Married</td>
                            <td>Alive</td>
                            <td>hepa</td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
