@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;
  }
  
  .sidebar {
    width: 586px;
    height: 100vh;
    background-color: #5C6B86;
    border-right: black 1px solid;
    border-top-right-radius: 3.5vw;
    border-bottom-right-radius: 3.5vw;
    overflow: hidden;
  }
  
  .sidebar img {
    position: absolute;
    left: 90px;
    top: 70px;
    width: 250px;
    height: 250px;
  }
  
  .sidebar-name {
    margin: auto;
    margin-top: 85vh;
    font-size: 2em;
    text-align: center;
    padding: 4%;
    background-color: #F9F8F0;
    border: black;
    border-style: solid 3px;
    color: #2F4670;
  }
  
  .pcontainer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    margin: 0 auto;
    padding: 1vh;
    position: absolute;
    top: 5vh;
    left: calc(454px + 20px);
    right: 0;
  }
  
  .plist {
    margin-top: 2vh;
    margin-left: -5vw;
  }
  
  .prospecttable {
    width:  60vw;
    border-collapse: collapse;
    margin-left: 2.5vw;
  }
  
  .prospecttable th,
  .prospecttable td {
    padding: 1vw;
    text-align: center;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
  }
  
  .prospecttable th {
    background-color: #5C6B86;
    color: #fff;
    text-align: center;
  }
  
  .prospectedit,
  .prospectdelete {
    margin-left: 0vw;
    margin-right: 0vw;
    width: 6vw;
    font-size: 1em;
    color: black;
    border: none;
    border-radius: 50px;
    background-color: #5C6B86;
  }
  
  .prospectdelete {
    margin-left: 1vw;
    background-color: rgb(184, 58, 58);
  }
  
  .prospectedit:hover {
    background-color: #7b8aa7;
    outline: none;
    outline-offset: -4px;
  }
  
  .prospectdelete:hover {
    background-color: rgba(184, 58, 58, 0.80);
    outline: none;
    outline-offset: -4px;
  }

    h1, h2{
      margin: 0;
      padding: 0;
    }
  
  .container {
    display: flex;
  }
  
  .Hi-Kap-con {
    width: 100%;
    padding: 5%;
  }
  
  .Hi-Kap-con h2 {
    text-align: center;
    margin-right: 10%;
    margin-top: 7%;
  }
  .sidebar h1 {
    font-size: 40px;
    font-weight: bold;
    color:#F9F8F0
  }
  
  .sidebar h2 {
    font-size: 60px;
    font-weight: bold;
    color:#F9F8F0
  }
  
  .sidebar-buttons {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .sidebar-buttons li {
    margin-bottom: 10px;
  }
  
  .sidebar-buttons a {
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: #2F4670;
    text-decoration: none;
    padding: 25px;
    border-radius: 0px;
    background-color: #F9F8F0;
  }
  
  .sidebar-buttons .admin-sidebar{
    background-color: #2F4670;
    color:bisque;
  }
  
  .sidebar-buttons a:hover {
    background-color: #7b8aa7;
    color: bisque ;
  
  }
  
  .sidebar-buttons.logout-button {
    margin-top: 35vh;
  }
  
  .content {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #F9F8F0;
  }