/*login page*/
body{
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-weight: bold;
    }
    
      .sidebar {
          width: 455px;
          height: 100vh;
          background-color: #5C6B86;
          border-right: black 1px solid;
          border-top-right-radius: 3.5vw;
          border-bottom-right-radius: 3.5vw ;
      }
      
      .sidebar img {
          position: absolute;
          left: 90px;
          top: 70px;
          width: 250px;
          height: 250px;
      }
      
      .sidebar-name {
          margin: auto;
          margin-top: 85vh;
          font-size: 2em;
          text-align: center;
          padding: 4%;
          background-color: #F9F8F0;
          border: black;
          border-style: solid 3px;
          color: #2F4670;
      }
      
      .login-box-container {
          flex: 1;
      }
      
      .login-box {
          background-color:#5C6B86;
          padding: 100px 35px;
          border-radius: 33px;
          color: #fff;
          text-align: center;
          max-width: 400px;
          margin: 50px auto;
      }
      
      form {
          display: flex;
          flex-direction: column;
      }
      
      .usernamepass {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
      }
      
      .usernamepass label {
          width: 100px;
          margin-right: 10px;
          margin-top: 20px;
          font-size: 1em;
      }
      
      input[type="text"],
      input[type="password"] {
          border-radius: 15px;
      }
      
      button {
          background-color: #2F4670;
          color: #fff;
          border: 2px solid white;
          border-radius: 15px;
          cursor: pointer;
          font-size: 14px;
      }

      .sidebar-buttons .logout-button{
        margin-top: 125vh;
      }
      
      button:hover {
          background-color: #7b8aa7;
      }

/*Admin Option*/ /*Masterlists*/


.content .container-1, .container-2{
  cursor: pointer;
  height: 60%;
  width: 40%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-duration: 300ms;
}
  .content .container-1 .icon-upper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 70%;
    object-fit: cover;
    background-color: #5C6B86;
    border-radius: 15px;

  }
  .content .container-1 .icon-lower{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 20%;
    background-color: #2F4670;
    border-radius: 15px;

  }
    .content .container-1 .icon-upper img{
      height: 80%;
      width: 80%;
      object-fit: contain;
    }
    .content .container-2 .icon-upper{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60%;
      width: 70%;
      object-fit: cover;
      background-color: #5C6B86;
      border-radius: 15px;
    }
    .content .container-2 .icon-lower{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70%;
      height: 20%;
      background-color: #2F4670;
      border-radius: 15px;
    }
    .content .container-2 .icon-upper img{
      height: 80%;
      width: 80%;
      object-fit: contain;
    }
    .content .container-1:hover, .container-2:hover{
      transform: translateY(-5px);
    }
    
    /* SideBar*/
    
    @import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500&family=Overpass:wght@400;800&family=Roboto&display=swap');
    body {
        margin: 0;
        padding: 0;
        background-color: #F9F8F0;
      }
      h1, h2{
        margin: 0;
        padding: 0;
      }
    
    .container {
      display: flex;
    }
    
    
    .Hi-Kap-con{
      width: 100%;
      padding: 5%;
    }
      .Hi-Kap-con h2{
        text-align: center;
      }
    .sidebar h1 {
      font-size: 40px;
      font-weight: bold;
      color:#F9F8F0
    }
    
    .sidebar h2 {
      font-size: 60px;
      font-weight: bold;
      color:#F9F8F0
    }
    
    .sidebar-buttons {
      list-style: none;
      padding: 0;
      margin-top: 20px;
    }
    
    .sidebar-buttons li {
      margin-bottom: 10px;
    }
    
    .sidebar-buttons a {
      display: flex; 
      align-items: center; 
      justify-content: center;
      color: #2F4670;
      text-decoration: none;
      padding: 25px;
      border-radius: 0px;
      background-color: #F9F8F0;
    }
    
    .sidebar-buttons .admin-sidebar{
      background-color: #2F4670;
      color:bisque;
    }
    
    .sidebar-buttons a:hover {
      background-color: #7b8aa7;
      color: bisque ;
    
    }
    
    .sidebar-buttons.logout-button {
      margin-top: 35vh;
    }
    
    .content {
      display: flex;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background-color: #F9F8F0;
    }
    

    .label-btn {
      display: inline-block;
      background-color: #F9F8F0;
      border: 1px solid #ccc;
      padding: 10px 20px;
      text-decoration: none;
      color: #333;
      font-weight: bold;
      border-radius: 5px;
    }
    
    .label-btn:hover {
      background-color: #ddd;
    }
    