@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
  .container .sidebar{
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
    background-color: #5C6B86;
    border-radius: 0px 33px 33px 0px;
  }
    .container .sidebar .upper-sidebar-container{
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: column;
      gap: 0%;
      justify-content: center;
    }
      .container .sidebar .upper-sidebar-container .hi-kap {
        margin-left: 5%;
        font-size: 1.2rem;
        height: 100%;
        width: 100%;
        color: #F9F8F0;
      }
      .container .sidebar .upper-sidebar-container .brgy-number{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.7rem;
        height: 40%;
        width: 100%;
        color: #F9F8F0;
      }
  .container .sidebar .sidebar-buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
    .container .sidebar .sidebar-buttons-container .sidebar-upper-buttons{
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      height: 35%;
      width: 100%;
    }
      .container .sidebar .sidebar-buttons-container .sidebar-upper-buttons .sidebar-buttons{
        width: 100%;
        height: 20%;
        justify-content: center;
        text-align: center;
        color: #2F4670;
        background-color: #F9F8F0;
        border: black 1px solid;
        cursor: pointer;
      }
      .container .sidebar-buttons-container .sidebar-upper-buttons .sidebar-buttons:hover{
        color: #F9F8F0;
        background-color: #5C6B86;
      }
    .container .sidebar .sidebar-buttons-container .sidebar-lower-buttons {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
      .container .sidebar-buttons-container .sidebar-lower-buttons .sidebar-buttons{
        width: 100%;
        justify-content: center;
        text-align: center;
        color: #2F4670;
        background-color: #F9F8F0;
        border: black 1px solid;
        cursor: pointer;
      }
        .container .sidebar-buttons-container .sidebar-lower-buttons .sidebar-buttons:hover{
          color: #F9F8F0;
          background-color: #5C6B86;
        }
#selected-page{
  color:#F9F8F0;
  background-color: #2F4670;
}
.sidebar-buttons:hover{
  color: #F9F8F0;
  background-color: #5C6B86;
}
.content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #F9F8F0;
  flex-direction: column;
}

.registration-forms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
}

.FL-item{
  display: flex;
  width: 70%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.registration-forms{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.fl-content {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: 60%;
}

.fl-content-checkbox input[type="checkbox"] {
  width: 30px; 
  height: 30px; 
}
.fl-content-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 40%;
  gap: 30%;
  height: 50%;
}
.fl-content-checkbox-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.fl-content input, select{
  width: 100%;
  height: 100%;
  background-color: #5C6B86;
  border-radius: 33px;
  text-indent: 3%;
  color: rgb(255, 255, 255);
}
.fl-content input::placeholder{
  color: #F9F8F0;
}
.residents-button{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.residents-button input[type="submit"]{
  width: 20%;
  height: 50%;
  border-radius: 33px;
  background-color: #2F4670;
  color:rgb(255, 255, 255);
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
}

p.alert-message {
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}