<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <div class="sidebar-name" >Barangay 684</div>
      <img src="BRGY LOGO.png" alt="Brgy Logo" width="200" height="200">
      </div>
    <div class="login-box-container">
      <p class="alert-message">{{Alert Message}}</p>
      <div class="login-box">
      <p>{{message}}</p>
        <form method="post" action="/">
          <div class="usernamepass">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
          </div>
          <div class="usernamepass">
            <label for="password">Password</label>
            <input type="password" id="passwords" name="passwords" required>
          </div>
          <button type="submit">Log In</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
