@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
  .container .sidebar{
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
    background-color: #5C6B86;
    border-radius: 0px 33px 33px 0px;
  }
    .container .sidebar .upper-sidebar-container{
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: column;
      gap: 0%;
      justify-content: center;
    }
      .container .sidebar .upper-sidebar-container .hi-kap {
        margin-left: 5%;
        font-size: 1.2rem;
        height: 100%;
        width: 100%;
        color: #F9F8F0;
      }
      .container .sidebar .upper-sidebar-container .brgy-number{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.7rem;
        height: 40%;
        width: 100%;
        color: #F9F8F0;
      }
  .container .sidebar .sidebar-buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
    .container .sidebar .sidebar-buttons-container .sidebar-upper-buttons{
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      height: 35%;
      width: 100%;
    }
      .container .sidebar .sidebar-buttons-container .sidebar-upper-buttons .sidebar-buttons{
        width: 100%;
        height: 20%;
        justify-content: center;
        text-align: center;
        color: #2F4670;
        background-color: #F9F8F0;
        border: black 1px solid;
        cursor: pointer;
      }
      .container .sidebar-buttons-container .sidebar-upper-buttons .sidebar-buttons:hover{
        color: #F9F8F0;
        background-color: #5C6B86;
      }
    .container .sidebar .sidebar-buttons-container .sidebar-lower-buttons {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
      .container .sidebar-buttons-container .sidebar-lower-buttons .sidebar-buttons{
        width: 100%;
        justify-content: center;
        text-align: center;
        color: #2F4670;
        background-color: #F9F8F0;
        border: black 1px solid;
        cursor: pointer;
      }
        .container .sidebar-buttons-container .sidebar-lower-buttons .sidebar-buttons:hover{
          color: #F9F8F0;
          background-color: #5C6B86;
        }
#selected-page{
  color:#F9F8F0;
  background-color: #2F4670;
}
.sidebar-buttons:hover{
  color: #F9F8F0;
  background-color: #5C6B86;
}
.content .container-1, .container-2{
  cursor: pointer;
  height: 60%;
  width: 40%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-duration: 300ms;
}
  .content .container-1 .icon-upper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 70%;
    object-fit: cover;
    background-color: #5C6B86;
    border-radius: 15px;

  }
  .content .container-1 .icon-lower{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 20%;
    background-color: #2F4670;
    border-radius: 15px;

  }
    .content .container-1 .icon-upper img{
      height: 80%;
      width: 80%;
      object-fit: contain;
    }
    .content .container-2 .icon-upper{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60%;
      width: 70%;
      object-fit: cover;
      background-color: #5C6B86;
      border-radius: 15px;
    }
    .content .container-2 .icon-lower{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70%;
      height: 20%;
      background-color: #2F4670;
      border-radius: 15px;
    }
    .content .container-2 .icon-upper img{
      height: 80%;
      width: 80%;
      object-fit: contain;
    }
    .content .container-1:hover, .container-2:hover{
      transform: translateY(-5px);
    }

    h1, h2{
      color: white;
    }
  .content {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #F9F8F0;
  }   
  
