/*login page*/
body{
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;
  }
  
    .sidebar {
        width: 455px;
        height: 100vh;
        background-color: #5C6B86;
        border-right: black 1px solid;
        border-top-right-radius: 3.5vw;
        border-bottom-right-radius: 3.5vw ;
    }
    
    .sidebar img {
        position: absolute;
        left: 90px;
        top: 70px;
        width: 250px;
        height: 250px;
    }
    
    .sidebar-name {
        margin: auto;
        margin-top: 85vh;
        font-size: 2em;
        text-align: center;
        padding: 4%;
        background-color: #F9F8F0;
        border: black;
        border-style: solid 3px;
        color: #2F4670;
    }
    
    .login-box-container {
        flex: 1;
    }
    
    .login-box {
        background-color:#5C6B86;
        padding: 100px 35px;
        border-radius: 33px;
        color: #fff;
        text-align: center;
        max-width: 400px;
        margin: 50px auto;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    .usernamepass {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .usernamepass label {
        width: 100px;
        margin-right: 10px;
        margin-top: 20px;
        font-size: 1em;
    }
    
    input[type="text"],
    input[type="password"] {
        border-radius: 15px;
    }
    
    button {
        background-color: #2F4670;
        color: #fff;
        border: 2px solid white;
        border-radius: 15px;
        cursor: pointer;
        font-size: 14px;
    }

    .sidebar-buttons .logout-button{
      margin-top: 25vh;
    }
    
    button:hover {
        background-color: #7b8aa7;
    }

/*Admin Option*/ /*Masterlists*/


.admhome .bodycon {
margin-left: 25vw;
margin-bottom: 12vh;
}

.admhome .bodycon .capabilities {
display: flex;
align-items: center;
justify-content: center;
height: 35vh;
border-radius: 60px;
}

.admhome .bodycon .capabilities .container {
cursor: pointer;
margin: 2.5vw;
height: 30vh;
width: 25vw;
border: 2px solid white;
border-radius: 80px;
background-color: #2F4670;
margin-bottom: 150vh;
overflow: hidden;
}

.admhome .bodycon .capabilities .container .label {
display: flex;
align-items: center;
justify-content: center;
margin-top: 1vh;
margin-left: -0.1vw;
height: 12vh;
width: 15vw;
font-size: 2.5em;
border-radius: 10px;
color: #2F4670;
background-color: #F9F8F0;
}

  
  /* SideBar*/
  
  @import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500&family=Overpass:wght@400;800&family=Roboto&display=swap');
  body {
      margin: 0;
      padding: 0;
      background-color: #F9F8F0;
    }
    h1, h2{
      margin: 0;
      padding: 0;
    }
  
  .container {
    display: flex;
  }
  
  
  .Hi-Kap-con{
    width: 100%;
    padding: 5%;
  }
    .Hi-Kap-con h2{
      text-align: center;
    }
  .sidebar h1 {
    font-size: 40px;
    font-weight: bold;
    color:#F9F8F0
  }
  
  .sidebar h2 {
    font-size: 60px;
    font-weight: bold;
    color:#F9F8F0
  }
  
  .sidebar-buttons {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .sidebar-buttons li {
    margin-bottom: 10px;
  }
  
  .sidebar-buttons a {
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: #2F4670;
    text-decoration: none;
    padding: 25px;
    border-radius: 0px;
    background-color: #F9F8F0;
  }
  
  .sidebar-buttons .admin-sidebar{
    background-color: #2F4670;
    color:bisque;
  }
  
  .sidebar-buttons a:hover {
    background-color: #7b8aa7;
    color: bisque ;
  
  }
  
  .sidebar-buttons.logout-button {
    margin-top: 25vh;
  }
  
  .content {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #F9F8F0;
  }
  