<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masterlist page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
          <div class="Hi-Kap-con">
            <h1>Hi Kap!</h1>
            <h2>684</h2>
          </div>  
          <ul class="sidebar-buttons">
            <li ><a href="#" >Home</a></li>
            <li ><a href="#" >Add Admin</a></li>
            <li><a href="#"class="admin-sidebar">Masterlists</a></li>
            <li><a href="http://www.manilahealthdepartment.com/">MHD Appointment</a></li>
          </ul>
          <ul class="sidebar-buttons logout-button">
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
    <div class="content">
        <div class="pcontainer1">
            <div class="plist">
                <div class="section-centeredflex">
                    <table class="prospecttable">
                        <tr>                    
                            <th class="prospectth">Full Name</th>
                            <th class="prospectth">Address</th>
                            <th class="prospectth">Contact No.</th>
                            <th class="prospectth">BirthDate</th>
                            <th class="prospectth">Age</th>
                            <th class="prospectth">Voter</th>
                            <th class="prospectth">PWD</th>
                            <th class="prospectth">Medical Condition</th>
                            <th class="prospectth">Marital Status</th>
                            <th class="prospectth">Remarks</th>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>Makati City PH</td>
                            <td>09 12345678</td>
                            <td>01-01-2001</td>
                            <td>30 years old</td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td>hepa</td>
                            <td>Married</td>
                            <td>Alive</td>
                        </tr>
                        <tr>
                            <td>Jane Smith</td>
                            <td>Pasay City PH</td>
                            <td>09 876543210</td>
                            <td>02-02-2002</td>
                            <td>110 years old</td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td>Leptospirosis</td>
                            <td>Black Widow</td>
                            <td>Deceased</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
