<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Option</title>
  <link rel="stylesheet" href="../../Admin Option.css">
</head>
<body>
  <div class="container">
    <div class="sidebar">
          <div class="upper-sidebar-container">
            <div class="hi-kap">
                <h1>Hi Kap!</h1>
            </div>
            <div class="brgy-number">
                <h1>684</h1>
            </div>
          </div>
          <div class="sidebar-buttons-container">
            <div class="sidebar-upper-buttons">
                <div class="sidebar-buttons" onclick="window.location.href='/kapitan/home'"><p>Home</p></div>
                <div class="sidebar-buttons" id="selected-page" onclick="window.location.href='/kapitan/admin'"><p>Admin</p></div>
                <div class="sidebar-buttons" onclick="window.location.href='/kapitan/masterlist'"><p>Master List</p></div>
                <div class="sidebar-buttons" onclick="window.location.href='http://www.manilahealthdepartment.com/'"><p>MHD Appointment</p></div>
            </div>
            <div class="sidebar-lower-buttons">
                <div class="sidebar-buttons" onclick="window.location.href='/logout'"><p>Logout</p></div>
            </div>
          </div>
        </div>
    <div class="content">
      <div class="container-1" onclick="window.location.href='/kapitan/admin/add-admin'">
          <div class="icon-upper">
            <img src="/images/addicon.png" alt="add icon">
          </div>
          <div class="icon-lower">
              <h1>Add Admin</h1>
          </div>
      </div>
  
      <div class="container-2" onclick="window.location.href='/kapitan/admin/list'">
          <div class="icon-upper">
            <img src="/images/listicon.png" alt="add icon">
          </div>
          <div class="icon-lower">
              <h1>Admin List</h1>
          </div>
      </div>
    </div>
  </div>
</body>
</html>