<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kapt Home</title>
    <link rel="stylesheet" href="../../home.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
          <div class="Hi-Kap-con">
            <h1>Hi Kap!</h1>
            <h2>684</h2>
          </div>  
          <ul class="sidebar-buttons">
                <li ><a href="/kapitan/home" class="admin-sidebar">Home</a></li>
                <li ><a href="/kapitan/admin" >Admin</a></li>
                <li><a href="/kapitan/masterlist">Masterlists</a></li>
                <li><a href="http://www.manilahealthdepartment.com/">MHD Appointment</a></li>
            </ul>
          <ul class="sidebar-buttons logout-button">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
        <div class="kapitana">
            <img src="/images/Kapitana.png" alt="Captain">
            <div class="kapitana-name">&emsp;&nbsp;&nbsp;LYDIA "TANG" ADRIANO <br>
                &emsp;&emsp;&nbsp;BRGY CHAIRWOMAN</div>
        </div>
        <div class= "kagawadone">
            <img src="/images/kagawad1.jpeg" alt="kags1">
            <div class="kagawadone-name">&emsp;ANTHONY C. QUILALA <br>
                &emsp;&emsp;&emsp;&nbsp;&nbsp;KAGAWAD</div>
        </div>
        <div class= "kagawadtwo">
            <img src="/images/kagawad2.jpeg" alt="kags2">
            <div class="kagawadtwo-name">&emsp;&emsp;SHERYLL T. PELINO <br>
                &emsp;&emsp;&emsp;&emsp;KAGAWAD</div>
        </div>
        <div class= "kagawadthree">
            <img src="/images/kagawad3.jpeg" alt="kags3">
            <div class="kagawadthree-name">RODOLDO A. NATIVIDAD JR <br>
                &emsp;&emsp;&emsp;&emsp;&nbsp;KAGAWAD</div>
        </div>
        <div class= "kagawadfour">
            <img src="/images/kagawad4.jpeg" alt="kags4">
            <div class="kagawadfour-name">&emsp;&emsp;WILMA K.CARIASO <br>
                &emsp;&emsp;&emsp;&emsp;&nbsp;KAGAWAD</div>
        </div>
        <div class= "kagawadfive">
            <img src="images/kagawad5.jpeg" alt="kags5">
            <div class="kagawadfive-name">&emsp;&emsp;&nbsp;RENATO P.ABLAZA <br>
                &emsp;&emsp;&emsp;&emsp;&nbsp;KAGAWAD</div>
        </div>
        <div class= "kagawadsix">
            <img src="/images/kagawad6.jpeg" alt="kags6">
            <div class="kagawadsix-name">&emsp;&emsp;&nbsp;RENATO P. REYES <br>
                &emsp;&emsp;&emsp;&emsp;&nbsp;KAGAWAD</div>
        </div>
        <div class= "kagawadseven">
            <img src="/images/kagawad7.jpeg" alt="kags7">
            <div class="kagawadseven-name">&emsp;&emsp;&nbsp;JERRY D. DACKEL<br>
                &emsp;&emsp;&emsp;&emsp;&nbsp;KAGAWAD</div>
        </div>
        <div class= "sk">
            <img src="/images/SKChairman.jpeg" alt="skchairman">
            <div class="sk-name">&emsp;EDUARDO V. PASCUAL JR. <br>
                &emsp;&emsp;&emsp;SK CHAIRMAN</div>
        </div>
        <div class= "secretary">
            <img src="/images/Sec.jpeg" alt="sec">
            <div class="sec-name">&emsp;&emsp;&emsp;JUVY Q LOZADA <br>
                &emsp;&emsp;&nbsp;&nbsp;BRGY.SECRETARY</div>
        </div>
        <div class= "treasurer">
            <img src="/images/Treasurer.jpeg" alt="treasury">
            <div class="treasurer-name">&nbsp;&nbsp;&nbsp;DIONELYN H. VILLARICO <br>
                &emsp;&emsp;&nbsp;BRGY.TREASURER</div>
        </div>
        <div class= "exo">
            <img src="/images/EXO.jpeg" alt="exo">
            <div class="exo-name">&emsp;&nbsp;&nbsp;ROMMEL C. QUILALA <br>
                &emsp;&emsp;&emsp;&emsp;&emsp;EX-O</div>
        </div>
        <div class="officials">
            <h3>Barangay Officals</h3>
        </div>
        <div class="bg-image">
            <img src="/images/BRGY LOGO.png" alt="Brgy Logo">
        </div>
    </div>
</body>
</html>
