<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Residents Option</title>
  <link rel="stylesheet" href="../../Resident Option.css">
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <div class="Hi-Kap-con">
        <h1>Hi Kap!</h1>
        <h2>684</h2>
      </div>  
      <ul class="sidebar-buttons">
        <li ><a href="/kapitan/home" class="admin-sidebar">Home</a></li>
        <li ><a href="/kapitan/admin" >Admin</a></li>
        <li><a href="/kapitan/masterlist">Masterlists</a></li>
        <li><a href="http://www.manilahealthdepartment.com/">MHD Appointment</a></li>
      </ul>
      <ul class="sidebar-buttons logout-button">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
    <div class="content"></div>
</div>
<div class="admhome">
  <div class="bodycon">
    <div class="capabilities">
      <div class="container">
        <button class="label-btn" onclick="window.location.href='/kapitan/masterlist/add'">
          <p>Add Residents</p>
        </button>
      </div>
{{!-- 
      <div class="container">
        <button class="label-btn" onclick="window.location.href=''">
          <p>Edit Lists</p>
        </button>
      </div> --}}

      <div class="container">
        <button class="label-btn" onclick="window.location.href='/kapitan/masterlist/list'">
          <p>Residents Lists</p>
        </button>
      </div>
    </div>
  </div>
</div>

</body>
</html>