<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>sample kapitan home -- kapitan</h1>
    <input type="button" value="admin" onclick="window.location.href='/kapitan/admin/add-admin'">
    <input type="button" value="master list" onclick="window.location.href='/kapitan/master/list'">
    <input type="button" value="Logout" onclick="window.location.href='/logout'">
</body>
</html>